@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  
}


/* For WebKit-based browsers like Chrome */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: #1d4ed8; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Border radius of the scrollbar thumb */
}
